@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(/static/story/yuh.svg);
}

.jumbotron{
    background-image: url(/static/story/yuh.svg);
    background-size: cover;
    height: 900px;
    text-align: center;
    margin-top: -110px;
}

.jumbotron .display-4{
    margin-top: 200px;
    font-family: Lato;
    font-style: normal;
    font-size: 64px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    margin-top: 30px;
}

.navbar-brand{
    margin-top:25px;
}

.abtme{
    width: 454px;
    height: 115px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 115px;
}

.desc{
    width: 612px;
    height: 290px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    
}
.pic{
    position:flex;
    width: 350px;
    height: 439px;

}

.carousel-item{
    height: 500px;
    width: 700px;
    padding-left: 5%;
}

.porto{
    width: 454px;
    height: 115px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 115px;
    text-align: center;
}

.btn{
    margin-left:45%;
    padding-top: 10px;
}

.title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 115px;
    text-align: center;
    padding-top: 10px;

}
.text{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 115px;
    text-align: center;
}

}
@media only screen and (min-width: 100px) {
    .pic{
        padding-top: 40px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .desc{
        padding-top: 10px;
    }
    .pic{
        padding-top: 40px;
    }
}