{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{%static 'story/style_form.css'%}">
    
    <title>Jerome's Website</title>
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent "  id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="#"><img src="/static/story/Jz.svg"></a>
        <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about-me">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#port-">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addfriends' %}">Friends</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Social media
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://www.instagram.com/jeromezebua/">Instagram</a>
                  <a class="dropdown-item" href="https://www.youtube.com/channel/UC35b83fggozXk8cEXN2Q9Zw?view_as=subscriber">Youtube</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/jerome-zebua-760739199">LinkedIn</a>
                </div>
              </li>
            </li>
          </ul>
        </div>
        </div>
      </nav>

      {%block content%}  {%endblock%}
      <br><br><br><br><br><br><br><br><br><br>
      <section id='foot'>
        <footer>&copy; Copyright 2020 Jerome Emmanuel</footer>
      </section>
      
      
            
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body>
      </html>