{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Jerome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/story/style2.css">
    </head>
    <body>
        <main>
            <header class="back">
                        <a href="{% url 'home'%}"><img class="logo" src="/static/story/home.svg"/></a>                      
                </section>
            </header>
            <section class="About">
                <h1 class="upper">Contact me<span style="color: #DE5C5C">:</span></h1>           
            </section>
        </section>
        <img class="prof_pic" src="/static/story/picture.JPG">
      <section>
        
        <div class="infos">
            <div class="container">
                <h1 class="ig">@jeromezebua</h1>
                <h1 class="email">jeromezebua@gmail.com</h1>
                <h1 class="number">(+62)819-3278-8795</h1>
                <img class="insta" src="/static/story/instagram-seeklogo.com.svg">
                <img class="em" src="/static/story/email.svg">
                <img class="phone" src="/static/story/phone.svg">
            </div>
        </div>


                  </section>
                    <img class="prof_pic" src="/static/story/picture.JPG">
                  <section>


            </section>
        </main>
        
    </body>
</html>