{%extends 'story/base2.html'%}
{%block content%}
    
    <title>Add Friends</title>
  </head>
  <body>
    
    <div class="col-md-auto col-sm text-center">
        <form method="POST" action="">
            {% csrf_token %}
            <h1 class="title">ADD ME AS A FRIEND</h1>
            <ul class = "navfont" style = "list-style-type:none; color: black">
                <h1 class="text">NAME</h1>
                <li class="Name">{{form.name}}</li>
                <h1 class="text1">YEAR</h1>
                <li class="Year">{{form.your_year}}</li>
                <h1 class="text2">HOBBY</h1>
                <li class="Hobby">{{form.hobby}}</li>
                <h1 class="text3">FAVORITES FOOD OR DRINKS</h1>
                <li class="Food and Beverages">{{form.fnb}}</li>
                <li class="submit">
                    <button type="submit" class="btn btn-primary navfont bg-dark shadow-none submit" data-toggle="button" aria-pressed="false" value="submit">
                        Submit
                    </button>
                </li>
            </ul>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

{%endblock%}