{%extends 'story/base.html'%}
{%block content%}

  <section class="IntroPage">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 font-weight-bold show-on-scroll">HELLO</h1>
        <h1 class="display-3 font-weight-bold show-on-scroll">I AM</h1>
        <h1 class="display-2 font-weight-bold show-on-scroll">JEROME</h1>
      </div>
    </div>
  </section>


  <section id="about-me">
    <br><br>
    <div class="second">
      <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm">
          
          <h1 class="abtme">About me</h1>
          <h1 class="desc">
            Hi. My name is Jerome Emmanuel, and I’m currently 
            18 years of age. I’m studying Computer Science at 
            University of Indonesia. Before uni, I spent all of my mandatory school at Penabur Bintaro
            I tend to spend my all of my spare
            time by watching videos on youtube. Other than that, 
            I really enjoy making designs and taking pictures as well.
            <br><br>
            I started taking pictures since I was in 9th grade. My dad 
            bought me a camera and since then, I love photography.
            I’ve been appointed 3 times as the head of documentation
            crew for the three years of high school.
          </h1>
        </div>
        <div class="col-sm col-md-auto">
          <img class="pic show-on-scroll" src="/static/story/picture.JPG">
        </div>
        </div>
      </div>
      </div>
    </div>
  </section>

    <br><br><br><br><br><br><br>
    <section id="port-"></section>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <h1 class="porto">
            PORTFOLIO
          </h1>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>
   
    <div class="container">
      <div class="row">
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/story/1.JPG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/story/2.JPG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/story/3.JPG" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>    
        </div>
        <div class="col-sm">
          
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Download Portfolio
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Done</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Downloaded
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Okay</button>
      </div>
    </div>
  </div>
</div>
  
{%endblock%}